html{
	height: 100%;
	overflow: hidden;
}
body {
	font-family: Lora, Arial, sans-serif;
	height: 100%;
	margin-right: 20px;
	margin-left: 20px;
}

header h1 {
	text-align: center;
	font-size: 175%;
}

/*for section titles*/
section div {
	float: right;
	border: 1px solid black;
	padding: 10px;
	margin: -1px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
}
#Chicken-title {
	color: black;
	background: #d59898;
}
#Beef-title {
	color: white;
	background: #c14543;
}
#Sushi-title {
	color: black;
	background: #e5d198;
}

/*for section dummy text*/
section p{
	clear: right;
	padding: 10px;
	height: 50%;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
}

/*section position control*/
section {
	box-sizing: border-box;
	background: #999999;
	border: 1px solid black;
	margin: 2%;
}
/*for desktop view (992px and above)*/
@media (min-width: 992px) {
	section {
		float: left;
		width: 29.3%;
		height: 50%;
	}
}
/*for tablet view (between 768px and 991px)*/
@media (min-width: 768px) and (max-width: 991px) {
	#Chicken-section, #Beef-section {
		float: left;
		width: 46%;
		height: 40%;
	}
	#Sushi-section {
		clear: left;
		width: 96%;
		height: 40%;

	}
}
/*for mobile view (767px and less)*/
@media (max-width: 767px) {
	#Chicken-section, #Beef-section , #Sushi-section{
		float: left;
		width: 96%;
		height: 25%;
	}
}









