body {
  /*font-size: 16px;*/
  /*color: #fff;*/
  /*background-color: #61122f;*/
  /*font-family: 'Oxygen', sans-serif;*/
}
#Chicken-section, #Beef-section, #Sushi-section {
  background-color: #999999;
  height: 200px;
  overflow: hidden;
}